* {
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Cor de fundo escura */
}

li a{
    text-decoration: none; /*Remove o sublinhado*/
    color: #ffffff; /* Cor do texto branca */
    font-size: 20px; /* Tamanho da fonte */
    padding: 20px;

    


}
li{
    list-style: none; /* Remover formatação da lista*/
    
}
#logo{
    height: 90px; /* Altura da imagem */
    width: 140px; /* Largura da imagem */

}
ul{
    display: flex; /* Indica a propiedade */
    flex-direction: row; /* Alinha os itens em uma única linha horizontal */
   

}
.menu { /* Classe para o menu de navegação */
    display: flex;
    flex-direction:row;
    align-items: center;
    background-color: aliceblue; /* Cor de fundo clara */
    }

.caixa-img-logo{ /* Classe para a caixa da imagem do logo */
        background-color: blue;
        height: 90px; 
        width: 90px;
    }