* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #1a1a1a;
}

li a {
    text-decoration: none;
    /*Remove o sublinhado*/
    color: #ffffff;
    /* Cor do texto branca */
    font-size: 20px;
    /* Tamanho da fonte */
    padding: 20px;
}

li {
    list-style: none;
    /* Remover formatação da lista*/
}

#logo {
    height: 100px;
    /* Altura da imagem */
    width: 180px;
    /* Largura da imagem */
}

ul {
    display: flex;
    /* Indica a propiedade */
    flex-direction: row;
    /* Alinha os itens em uma única linha horizontal */
}

.menu {
    /* Classe para o menu de navegação */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-img-logo {
    /* Classe para a caixa da imagem do logo */
    height: 90px;
    width: 90px;
}

.bi {
    font-size: 35px;
    color: #4c544c;
}

.banner {
    background-image: url("./assets/banner.png");
    /*imagem de fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /*altura*/
    width: 800px;
    border-radius: 15px;
    /*borda aredonda*/
    display: flex;
    /*indica a propriedade flexbox*/
    align-items: center;
    /*alinha verticalmente ao centro*/

}

.texto-banner {
    font-size: 30px;
    /*tamanho da fonte*/
    color: #ffffff;
}

.btn-menu {
    width: 105px;
    height: 40px;
    border-radius: 50px;
    background-color: #333333;
    color: #ffffff;
    /* Cor do texto branca */
    font-weight: bold;
    /* Negrito */
    border: none;
    /* Remove a borda padrão */
    margin: 25px;
    /* espaçamento em todas as direcoes externas*/
}

.caixa-texto-banner {
    width: 220px;
    padding: 25px;
    /*espaçamento interno*/

}

.section-center {
    display: flex;
    justify-content: center;
    /*muda posiçao da caixa*/
    padding: 15px;
}

.titulo-primario {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.estutura-titulo {
    display: flex;
    justify-content: center;
}

.produtos {
    height: 330px;
    width: 190px;
}

.valor {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;


}

.cores {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}

.laranja {
    background-color: orange;
}

.preto {
    background-color: black;
}

.caixa-cores {
    display: flex; /*FLEXIONA OS ITENS*/
    flex-direction: row;
    justify-content:center;
    gap: 10px;
}
 .carrosel{
    display: flex;
    gap: 20px;
    justify-content: center;
 }
 
.banner-xbox{
    background-image: url("./assets/x-box.png");
    width: 810px;
    height: 390px; 
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    
}

.caixa-banner-xbox{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
    padding: 20px 80px;
}
.texto-banner-xbox {
    font-size: 25px;
    color: #ffffff;
  
}
.btn-xbox {
    width: 105px;
    height: 30px;
    border-radius: 50px;
    background-color: #341a10;
    color: #ffffff;
    border: none;
    margin:25px;
}
 .caixa-footer{
    background-color: cadetblue;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 100px;
 }
 .Rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
     ;

 }
 