* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1a1a1a;
}

li a {
    text-decoration: none;
    /*Remove o sublinhado*/
    color: #ffffff;
    /* Cor do texto branca */
    font-size: 20px;
    /* Tamanho da fonte */
    padding: 20px;
}

li {
    list-style: none;
    /* Remover formatação da lista*/
}

#logo {
    height: 100px;
    /* Altura da imagem */
    width: 180px;
    /* Largura da imagem */
}

ul {
    display: flex;
    /* Indica a propiedade */
    flex-direction: row;
    /* Alinha os itens em uma única linha horizontal */
}

.menu {
    /* Classe para o menu de navegação */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-img-logo {
    /* Classe para a caixa da imagem do logo */
    height: 90px;
    width: 90px;
}

.bi {
    font-size: 35px;
    color: #4c544c;
}

.banner {
    background-image: url("./assets/banner.png"); /*imagem de fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px; /*altura*/
    width: 900px;
    border-radius: 15px; /*borda aredonda*/
    display: flex; /*indica a propriedade flexbox*/
    align-items: center; /*alinha verticalmente ao centro*/

}
.texto-banner{
    font-size: 30px; /*tamanho da fonte*/
    color: #ffffff;
}
.btn-menu{
    width: 105px;
    height: 40px;
    border-radius: 50px;
    background-color: #333333;
    color: #ffffff; /* Cor do texto branca */
    font-weight: bold; /* Negrito */
    border: none; /* Remove a borda padrão */
    margin: 25px; /* espaçamento em todas as direcoes externas*/
}
.caixa-texto-banner{
  width: 220px; 
  padding: 25px; /*espaçamento interno*/

}

.section-center{
display: flex;
justify-content: center; /*muda posiçao da caixa*/

}