* {
    margin: 0;
    padding: 0;

}

body {
    background-color: #1a1a1a;
}

li a {
    text-decoration: none;
    /*Remove o sublinhado*/
    color: #ffffff;
    /* Cor do texto branca */
    font-size: 20px;
    /* Tamanho da fonte */
    padding: 20px;
}

li {
    list-style: none;
    /* Remover formatação da lista*/
}

#logo {
    height: 100px;
    /* Altura da imagem */
    width: 180px;
    /* Largura da imagem */
}

ul {
    display: flex;
    /* Indica a propiedade */
    flex-direction: row;
    /* Alinha os itens em uma única linha horizontal */
}

.menu {
    /* Classe para o menu de navegação */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.caixa-img-logo {
    /* Classe para a caixa da imagem do logo */
    height: 90px;
    width: 90px;
}

.bi {
    font-size: 35px;
    color: #4c544c;
}

.banner {
    background-image: url("./assets/banner.png");
    /*imagem de fundo*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    /*altura*/
    width: 890px;
    border-radius: 15px;
    /*borda aredonda*/
    display: flex;
    /*indica a propriedade flexbox*/
    align-items: center;
    /*alinha verticalmente ao centro*/

}

.texto-banner {
    font-size: 30px;
    /*tamanho da fonte*/
    color: #ffffff;
}

.btn-menu {
    width: 105px;
    height: 40px;
    border-radius: 50px;
    background-color: #333333;
    color: #ffffff;
    /* Cor do texto branca */
    font-weight: bold;
    /* Negrito */
    border: none;
    /* Remove a borda padrão */
    margin: 25px;
    /* espaçamento em todas as direcoes externas*/
}

.caixa-texto-banner {
    width: 220px;
    padding: 25px;
    /*espaçamento interno*/

}

.section-center {
    display: flex;
    justify-content: center;
    /*muda posiçao da caixa*/
    padding: 15px;
}

.titulo-primario {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding: 20px;
}

.estutura-titulo {
    display: flex;
    justify-content: center;
}

.produtos {
    height: 330px;
    width: 220px;
}

.valor {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;


}

.cores {
    height: 10px;
    width: 10px;
    border-radius: 100%;
}

.vermelho {
    background-color: red;
}

.azul {
    background-color: blue;
}

.laranja {
    background-color: orange;
}

.preto {
    background-color: black;
}

.caixa-cores {
    display: flex;
    /*FLEXIONA OS ITENS*/
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.carrosel {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.banner-xbox {
    background-image: url("./assets/x-box.png");
    width: 890px;
    height: 490px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;

}

.caixa-banner-xbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 20px 80px;
}

.texto-banner-xbox {
    font-size: 25px;
    color: #ffffff;

}

.btn-xbox {
    width: 105px;
    height: 30px;
    border-radius: 50px;
    background-color: #341a10;
    color: #ffffff;
    border: none;
    margin: 25px;
}

.caixa-footer {
   color: #ffffff;
    height: 200px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    width: 1000px;

}
.titulo-rodape1{
    font-size: 18px;
    color: #afaaaaec;
}
.titulo2-rodape2{
    font-size: 18px;
    color: #1b1a1aec;
}

.Rodape {
    background-color: #333333;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt-rodape{
    display: flex;
    text-align: start;
    width: 1065px;

justify-content: center;

color: #ffffff;
   
}

.icones-txt-rodape{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}
    
.bi2{
    font-size: 25px;
    color: #ffffff;

}
.final-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 100px;
    
}
.logo-final{
    display: flex;
    justify-content: end;
    height: 150px;
    
}
.logo-rodape{
    height: 80px;
    width: 140px;
}
.tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.politicas-img{
    display: flex;
    flex-direction: row;
}
.txt-politicas{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: #ffffff;
}

.txt-rodape-menor{
padding: 25px;
}

